<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="vi" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="Content-Security-Policy"
        content="default-src * data: self blob: gap:; script-src * 'self' data: 'unsafe-inline' 'unsafe-eval' blob: gap:; style-src * data: 'unsafe-inline' self blob: gap:; img-src 'self' data:; connect-src * self 'unsafe-inline' blob: data: gap:; media-src *; object-src * 'self' blob: data: gap:; frame-src * self blob: data: gap:">

    <meta name="keywords" content="heart" />
    <meta name="description" content="Trending Heart - Nguyen Quy Blog">
    <meta name="author" content="nhquydev">

    <meta property="fb:app_id" content="361515506000515" />
    <!--https://fb.com/nhquy.dev-->
    <meta property="fb:admins" content="100003641458984" />

    <meta property="og:title" content="Trending Heart - Nguyen Quy Blog" />
    <meta property="og:description" content="Trending Heart - Nguyen Quy Blog" />
    <meta property="og:image:alt" content="youtube.com/@nhquydev" />
    <meta property="og:image" content="/assets/imgs/screenshot_youtobe_nhquydev.png" />
    <meta property="og:image:secure_url" content="/assets/imgs/screenshot_youtobe_nhquydev.png" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="Trending Heart - Nguyen Quy Blog" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Trending Heart - Nguyen Quy Blog" />
    <meta name="twitter:description" />
    <meta name="twitter:image" content="" />
    <link href="https://nhquydev.net" rel="canonical" />

    <TITLE>Trending Heart - Nguyen Quy Blog</TITLE>

    <link rel="icon" href="/assets/imgs/favicon.png" sizes="32x32" />

    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
            background: white;
        }

        canvas {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <canvas id="pinkboard" onclick="playMusic()"></canvas>
    <script type="text/javascript" src="/assets/js/01.js?v=0.0.1"></script>

    <div class="center-text" style="background-color:white;
        width: 100%;
        color: rgb(29, 105, 171);
        height: 100%;
        font-size: 35px;
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        text-align: center;">
        Nguyen Quy <br />Channel!
    </div>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/5HEOfz4KGlY?controls=0" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
    <audio id="audio" controls="controls" autoplay="autoplay" loop="loop" preload="auto" hidden>
        <source src="/assets/mp3/Thanh-Xuan-Cua-Toi-Dan-Truong.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript">
        var isPlay = false;
        $(function () {
            console.log("ready!");
        });

        function playMusic(event) {
            if (!isPlay) {
                $('#audio')[0].play();
                isPlay = true;
            }
            else
                console.log('music is running...');
        }
    </script>

</body>

</html>